In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [31]:
f = "../data/003_Cuernavaca_estacion_1dia_comas.csv"
tmx = pd.read_csv(f,index_col=0,parse_dates=True)
tmx.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 24 entries, 2012-01-01 00:00:00 to 2012-01-01 23:00:00
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   To      24 non-null     float64
 1   Ws      24 non-null     float64
 2   Wd      24 non-null     int64
 3   P       24 non-null     int64
 4   Ig      24 non-null     int64
 5   Ib      24 non-null     int64
 6   Id      24 non-null     int64
dtypes: float64(2), int64(5)
memory usage: 1.5 KB

In [32]:
tmx.columns

Index(['To', 'Ws', 'Wd', 'P', 'Ig', 'Ib', 'Id'], dtype='object')

In [33]:
tmx["To"]

tiempo
2012-01-01 00:00:00    19.3
2012-01-01 01:00:00    18.6
2012-01-01 02:00:00    17.9
2012-01-01 03:00:00    17.3
2012-01-01 04:00:00    16.6
2012-01-01 05:00:00    15.9
2012-01-01 06:00:00    17.0
2012-01-01 07:00:00    18.0
2012-01-01 08:00:00    19.0
2012-01-01 09:00:00    20.0
2012-01-01 10:00:00    20.0
2012-01-01 11:00:00    20.0
2012-01-01 12:00:00    21.0
2012-01-01 13:00:00    22.0
2012-01-01 14:00:00    21.7
2012-01-01 15:00:00    21.3
2012-01-01 16:00:00    21.0
2012-01-01 17:00:00    19.0
2012-01-01 18:00:00    17.1
2012-01-01 19:00:00    17.0
2012-01-01 20:00:00    17.3
2012-01-01 21:00:00    17.0
2012-01-01 22:00:00    16.6
2012-01-01 23:00:00    15.9
Name: To, dtype: float64

In [34]:
tmx.To

tiempo
2012-01-01 00:00:00    19.3
2012-01-01 01:00:00    18.6
2012-01-01 02:00:00    17.9
2012-01-01 03:00:00    17.3
2012-01-01 04:00:00    16.6
2012-01-01 05:00:00    15.9
2012-01-01 06:00:00    17.0
2012-01-01 07:00:00    18.0
2012-01-01 08:00:00    19.0
2012-01-01 09:00:00    20.0
2012-01-01 10:00:00    20.0
2012-01-01 11:00:00    20.0
2012-01-01 12:00:00    21.0
2012-01-01 13:00:00    22.0
2012-01-01 14:00:00    21.7
2012-01-01 15:00:00    21.3
2012-01-01 16:00:00    21.0
2012-01-01 17:00:00    19.0
2012-01-01 18:00:00    17.1
2012-01-01 19:00:00    17.0
2012-01-01 20:00:00    17.3
2012-01-01 21:00:00    17.0
2012-01-01 22:00:00    16.6
2012-01-01 23:00:00    15.9
Name: To, dtype: float64

In [35]:
tmx.head()

                       To   Ws  Wd      P  Ig  Ib  Id
tiempo
2012-01-01 00:00:00  19.3  0.0  26  87415   0   0   0
2012-01-01 01:00:00  18.6  0.0  26  87602   0   0   0
2012-01-01 02:00:00  17.9  0.0  30  87788   0   0   0
2012-01-01 03:00:00  17.3  0.0  30  87554   0   0   0
2012-01-01 04:00:00  16.6  0.0  27  87321   0   0   0

In [36]:
tmx.tail()

                       To   Ws   Wd      P  Ig  Ib  Id
tiempo
2012-01-01 19:00:00  17.0  0.0  269  87101   0   0   0
2012-01-01 20:00:00  17.3  0.0   50  87115   0   0   0
2012-01-01 21:00:00  17.0  0.2   85  87080   0   0   0
2012-01-01 22:00:00  16.6  0.5   89  87089   0   0   0
2012-01-01 23:00:00  15.9  0.8   93  87143   0   0   0

In [37]:
tmx.Ig - tmx.Ib

tiempo
2012-01-01 00:00:00      0
2012-01-01 01:00:00      0
2012-01-01 02:00:00      0
2012-01-01 03:00:00      0
2012-01-01 04:00:00      0
2012-01-01 05:00:00      0
2012-01-01 06:00:00      0
2012-01-01 07:00:00   -131
2012-01-01 08:00:00   -358
2012-01-01 09:00:00   -443
2012-01-01 10:00:00   -363
2012-01-01 11:00:00   -264
2012-01-01 12:00:00   -199
2012-01-01 13:00:00   -188
2012-01-01 14:00:00   -230
2012-01-01 15:00:00   -315
2012-01-01 16:00:00   -413
2012-01-01 17:00:00   -431
2012-01-01 18:00:00      0
2012-01-01 19:00:00      0
2012-01-01 20:00:00      0
2012-01-01 21:00:00      0
2012-01-01 22:00:00      0
2012-01-01 23:00:00      0
dtype: int64

In [38]:
tmx.Ib/ tmx.Ig

tiempo
2012-01-01 00:00:00         NaN
2012-01-01 01:00:00         NaN
2012-01-01 02:00:00         NaN
2012-01-01 03:00:00         NaN
2012-01-01 04:00:00         NaN
2012-01-01 05:00:00         NaN
2012-01-01 06:00:00         NaN
2012-01-01 07:00:00    7.550000
2012-01-01 08:00:00    3.182927
2012-01-01 09:00:00    2.200542
2012-01-01 10:00:00    1.639085
2012-01-01 11:00:00    1.368201
2012-01-01 12:00:00    1.248750
2012-01-01 13:00:00    1.232099
2012-01-01 14:00:00    1.307898
2012-01-01 15:00:00    1.510535
2012-01-01 16:00:00    1.953811
2012-01-01 17:00:00    2.968037
2012-01-01 18:00:00         NaN
2012-01-01 19:00:00         NaN
2012-01-01 20:00:00         NaN
2012-01-01 21:00:00         NaN
2012-01-01 22:00:00         NaN
2012-01-01 23:00:00         NaN
dtype: float64

In [39]:
tmx["Ib"]

tiempo
2012-01-01 00:00:00      0
2012-01-01 01:00:00      0
2012-01-01 02:00:00      0
2012-01-01 03:00:00      0
2012-01-01 04:00:00      0
2012-01-01 05:00:00      0
2012-01-01 06:00:00      0
2012-01-01 07:00:00    151
2012-01-01 08:00:00    522
2012-01-01 09:00:00    812
2012-01-01 10:00:00    931
2012-01-01 11:00:00    981
2012-01-01 12:00:00    999
2012-01-01 13:00:00    998
2012-01-01 14:00:00    977
2012-01-01 15:00:00    932
2012-01-01 16:00:00    846
2012-01-01 17:00:00    650
2012-01-01 18:00:00      0
2012-01-01 19:00:00      0
2012-01-01 20:00:00      0
2012-01-01 21:00:00      0
2012-01-01 22:00:00      0
2012-01-01 23:00:00      0
Name: Ib, dtype: int64

In [40]:
tmx

                       To   Ws   Wd      P   Ig   Ib  Id
tiempo
2012-01-01 00:00:00  19.3  0.0   26  87415    0    0   0
2012-01-01 01:00:00  18.6  0.0   26  87602    0    0   0
2012-01-01 02:00:00  17.9  0.0   30  87788    0    0   0
2012-01-01 03:00:00  17.3  0.0   30  87554    0    0   0
2012-01-01 04:00:00  16.6  0.0   27  87321    0    0   0
2012-01-01 05:00:00  15.9  0.0   26  87087    0    0   0
2012-01-01 06:00:00  17.0  0.0   27  87096    0    0   0
2012-01-01 07:00:00  18.0  0.0   34  87140   20  151  11
2012-01-01 08:00:00  19.0  0.0   61  87185  164  522  37
2012-01-01 09:00:00  20.0  0.0   95  87229  369  812  58
2012-01-01 10:00:00  20.0  1.0  108  87229  568  931  68
2012-01-01 11:00:00  20.0  2.1  160  87229  717  981  75
2012-01-01 12:00:00  21.0  1.8  135  87273  800  999  79
2012-01-01 13:00:00  22.0  1.5  160  87316  810  998  80
2012-01-01 14:00:00  21.7  1.3  164  87302  747  977  79
2012-01-01 15:00:00  21.3  1.2  176  87287  617  932  74
2012-01-01 16:00:00  21.0  1.0  140  87273  433  846  65
2012-01-01 17:00:00  19.0  0.0  198  87185  219  650  46
2012-01-01 18:00:00  17.1  0.0  221  87104    0    0   0
2012-01-01 19:00:00  17.0  0.0  269  87101    0    0   0
2012-01-01 20:00:00  17.3  0.0   50  87115    0    0   0
2012-01-01 21:00:00  17.0  0.2   85  87080    0    0   0
2012-01-01 22:00:00  16.6  0.5   89  87089    0    0   0
2012-01-01 23:00:00  15.9  0.8   93  87143    0    0   0

In [42]:
tmx[["Ib","Id","Ig"]]

                      Ib  Id   Ig
tiempo
2012-01-01 00:00:00    0   0    0
2012-01-01 01:00:00    0   0    0
2012-01-01 02:00:00    0   0    0
2012-01-01 03:00:00    0   0    0
2012-01-01 04:00:00    0   0    0
2012-01-01 05:00:00    0   0    0
2012-01-01 06:00:00    0   0    0
2012-01-01 07:00:00  151  11   20
2012-01-01 08:00:00  522  37  164
2012-01-01 09:00:00  812  58  369
2012-01-01 10:00:00  931  68  568
2012-01-01 11:00:00  981  75  717
2012-01-01 12:00:00  999  79  800
2012-01-01 13:00:00  998  80  810
2012-01-01 14:00:00  977  79  747
2012-01-01 15:00:00  932  74  617
2012-01-01 16:00:00  846  65  433
2012-01-01 17:00:00  650  46  219
2012-01-01 18:00:00    0   0    0
2012-01-01 19:00:00    0   0    0
2012-01-01 20:00:00    0   0    0
2012-01-01 21:00:00    0   0    0
2012-01-01 22:00:00    0   0    0
2012-01-01 23:00:00    0   0    0

In [43]:
Is = ["Ig","Ib","Id"]
tmx[Is]

                      Ig   Ib  Id
tiempo
2012-01-01 00:00:00    0    0   0
2012-01-01 01:00:00    0    0   0
2012-01-01 02:00:00    0    0   0
2012-01-01 03:00:00    0    0   0
2012-01-01 04:00:00    0    0   0
2012-01-01 05:00:00    0    0   0
2012-01-01 06:00:00    0    0   0
2012-01-01 07:00:00   20  151  11
2012-01-01 08:00:00  164  522  37
2012-01-01 09:00:00  369  812  58
2012-01-01 10:00:00  568  931  68
2012-01-01 11:00:00  717  981  75
2012-01-01 12:00:00  800  999  79
2012-01-01 13:00:00  810  998  80
2012-01-01 14:00:00  747  977  79
2012-01-01 15:00:00  617  932  74
2012-01-01 16:00:00  433  846  65
2012-01-01 17:00:00  219  650  46
2012-01-01 18:00:00    0    0   0
2012-01-01 19:00:00    0    0   0
2012-01-01 20:00:00    0    0   0
2012-01-01 21:00:00    0    0   0
2012-01-01 22:00:00    0    0   0
2012-01-01 23:00:00    0    0   0

In [44]:
tmx.columns

Index(['To', 'Ws', 'Wd', 'P', 'Ig', 'Ib', 'Id'], dtype='object')

In [49]:
Is = ['Ig', 'Ib', 'Id']
tmx[Is]

                      Ig   Ib  Id
tiempo
2012-01-01 00:00:00    0    0   0
2012-01-01 01:00:00    0    0   0
2012-01-01 02:00:00    0    0   0
2012-01-01 03:00:00    0    0   0
2012-01-01 04:00:00    0    0   0
2012-01-01 05:00:00    0    0   0
2012-01-01 06:00:00    0    0   0
2012-01-01 07:00:00   20  151  11
2012-01-01 08:00:00  164  522  37
2012-01-01 09:00:00  369  812  58
2012-01-01 10:00:00  568  931  68
2012-01-01 11:00:00  717  981  75
2012-01-01 12:00:00  800  999  79
2012-01-01 13:00:00  810  998  80
2012-01-01 14:00:00  747  977  79
2012-01-01 15:00:00  617  932  74
2012-01-01 16:00:00  433  846  65
2012-01-01 17:00:00  219  650  46
2012-01-01 18:00:00    0    0   0
2012-01-01 19:00:00    0    0   0
2012-01-01 20:00:00    0    0   0
2012-01-01 21:00:00    0    0   0
2012-01-01 22:00:00    0    0   0
2012-01-01 23:00:00    0    0   0

In [48]:
Is = [columna for columna in tmx.columns if "I" in columna]
tmx[Is]

                      Ig   Ib  Id
tiempo
2012-01-01 00:00:00    0    0   0
2012-01-01 01:00:00    0    0   0
2012-01-01 02:00:00    0    0   0
2012-01-01 03:00:00    0    0   0
2012-01-01 04:00:00    0    0   0
2012-01-01 05:00:00    0    0   0
2012-01-01 06:00:00    0    0   0
2012-01-01 07:00:00   20  151  11
2012-01-01 08:00:00  164  522  37
2012-01-01 09:00:00  369  812  58
2012-01-01 10:00:00  568  931  68
2012-01-01 11:00:00  717  981  75
2012-01-01 12:00:00  800  999  79
2012-01-01 13:00:00  810  998  80
2012-01-01 14:00:00  747  977  79
2012-01-01 15:00:00  617  932  74
2012-01-01 16:00:00  433  846  65
2012-01-01 17:00:00  219  650  46
2012-01-01 18:00:00    0    0   0
2012-01-01 19:00:00    0    0   0
2012-01-01 20:00:00    0    0   0
2012-01-01 21:00:00    0    0   0
2012-01-01 22:00:00    0    0   0
2012-01-01 23:00:00    0    0   0